// main position
.ps- {
  position: var(--ps-);
}

// position options
.ps-1 {
  position: var(--ps-1);
}
.ps-2 {
  position: var(--ps-2);
}
.ps-3 {
  position: var(--ps-3);
}
.ps-4 {
  position: var(--ps-4);
}
