// main flex-direction
.fd- {
    flex-direction: var(--fd-);
  
  }
  
  // flex-direction options
  .fd-1 {
    flex-direction: var(--fd-1);
  }
  .fd-2 {
    flex-direction: var(--fd-2);
  }
  .fd-3 {
    flex-direction: var(--fd-3);
  }
