// main border-bottom
.bb- {
  border-bottom: var(--bb-);
}

// border-bottom options
.bb-1 {
  border-bottom: var(--bb-1);
}
.bb-2 {
  border-bottom: var(--bb-2);
}
.bb-3 {
  border-bottom: var(--bb-3);
}
.bb-4 {
  border-bottom: var(--bb-4);
}
