// main padding
.pd- {
  padding: var(--pd-);
}

// padding options
.pd-1 {
  padding: var(--pd-1);
}
.pd-2 {
  padding: var(--pd-2);
}
.pd-3 {
  padding: var(--pd-3);
}
.pd-4 {
  padding: var(--pd-4);
}
