// main justify-content
.jc- {
  justify-content: var(--jc-);

}

// justify-content options
.jc-1 {
  justify-content: var(--jc-1);
}
.jc-2 {
  justify-content: var(--jc-2);
}
.jc-3 {
  justify-content: var(--jc-3);
}
.jc-4 {
  justify-content: var(--jc-4);
}
.jc-5 {
  justify-content: var(--jc-5);
}
