// main align-items
.ai- {
    align-items: var(--ai-);
  
  }
  
  // align-items options
  .ai-1 {
    align-items: var(--ai-1);
  }
  .ai-2 {
    align-items: var(--ai-2);
  }
  .ai-3 {
    align-items: var(--ai-3);
  }
