// main background-color
.bg- {
  background-color: var(--bg-);
}

// background-color options
.bg-1 {
  background-color: var(--bg-1);
}
.bg-2 {
  background-color: var(--bg-2);
}
.bg-3 {
  background-color: var(--bg-3);
}
.bg-4 {
  background-color: var(--bg-4);
}
