// main display
.ds- {
  display: var(--ds-);
}

// display options
.ds-1 {
  display: var(--ds-1);
}
.ds-2 {
  display: var(--ds-2);
}
.ds-3 {
  display: var(--ds-3);
}
.ds-4 {
  display: var(--ds-4);
}
