@import '../scss/_header-background-color.scss';
@import '../scss/_header-padding.scss';
@import '../scss/_header-border-bottom.scss';
@import '../scss/_header-position.scss';

@import '../scss/_header_div-display.scss';
@import '../scss/_header_div-justify-content.scss';
@import '../scss/_header_div-align-items.scss';
@import '../scss/_header_div-flex-direction.scss';

@import '../scss/_root.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
}
header{
  width: 100%;
}

.hd {
  &__link {
    height: 40px;
  }
  &__logo {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 0;
  }
  &__hamburger {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background: none;
  }
  &__hamburger-line {
    width: 100%;
    height: 4px;
    display: block;
    background-color: var(--bg-1);
    border-radius: 0;
  }
}


