*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
    padding: 10px;
    background-color: #d8d8d8;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: 40px;
    height: 40px;
    border-radius: 4px;
  }
  &__hamburger {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background:none;
  }
  &__hamburger-line {
    width: 100%;
    height: 4px;
    display: block;
    background-color: black;
    border-radius: 4px;
  }
}
